@{
    ViewBag.Title = "LogIn";
}

<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin .checkbox {
            font-weight: normal;
        }

        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }

            .form-signin .form-control:focus {
                z-index: 2;
            }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
</style>
@using ImageSharingWithUsers.Models;
@using ImageSharing.Data;
@model LogInViewModel
@if (Model.Error != null)
{
    <div class="alert alert-danger" role="alert">@Model.Error</div>
}
<form class="form-signin" method="POST" action="/home/LogIn">
    <h2 class="form-signin-heading">Sign in</h2>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" name="username" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" />
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
</form>
<div class="row">
    <a class=" btn btn-primary col-md-4 col-md-offset-4" href="/Home/SignUp">Click Here To Sign Up</a>
</div>

@section Scripts{
    
<script src="~/Scripts/LogIn.js"></script>
    }